.manhwa-info {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.contenido-manhwa {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.video {
    width: 50%;
}

.texto-manhwa {
    width: 50%;
}

h2 {
    margin-bottom: 1rem;
    color: #ff6f61;
}

p {
    margin-bottom: 1rem;
    line-height: 1.6;
}